<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>作业提交系统</title>
    <link rel="stylesheet" th:href="@{layui/css/layui.css}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">作业管理<a href="javascript:;"><i id="animation-left-nav" class="layui-icon ">&#xe668;</i> </a></div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"></li>

        </ul>
        <ul class="layui-nav layui-layout-right">
            <!--个人消息提醒-->
            <li class="layui-nav-item">
                <!--<button data-method="notice" id="test8" class="layui-btn">消息提醒</button>-->
                <a data-method="notice"  id="test8">消息提醒<span class="layui-badge-dot"></span></a>
                <!--<button data-method="notice" class="layui-btn">消息提醒<span class="layui-badge-dot"></span></button>-->
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;" th:text="${studentid}">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
                <!--<dl class="layui-nav-child">-->
                    <!--<dd><a href="">基本资料</a></dd>-->
                    <!--<dd><a href="">安全设置</a></dd>-->
                <!--</dl>-->
            </li>
            <li class="layui-nav-item"><a href="login.html">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">

                <li class="layui-nav-item layui-nav-itemed">
                    <!--<a class="" href="javascript:;">个人信息</a>-->
                    <a href="javascript:;">
                        <i class="iconfont icon-jiaoseguanli" ></i>
                        <span>个人信息</span>
                        <em class="layui-nav-more"></em>
                    </a>


                    <dl class="layui-nav-child">
                        <dd><a href="changepass" target="container">修改密码</a></dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd><a href="student/infoEditing.html" target="container">信息编辑</a></dd>
                    </dl>
                </li>


                <li class="layui-nav-item layui-nav-itemed">
                    <!--<a href="javascript:;">提交管理</a>-->
                    <a href="javascript:;">
                        <i class="iconfont icon-jiaoseguanli" ></i>
                        <span>提交管理</span>
                        <em class="layui-nav-more"></em>
                    </a>


                    <dl class="layui-nav-child">
                        <dd><a href="student/viewTask.html" target="container"  class="site-demo-active">实验任务查看</a></dd>
                        <dd><a href="upload" target="container"  class="site-demo-active">作业提交</a></dd>
                        <dd><a href="student/hisRecord.html" target="container"  class="site-demo-active">历史提交记录</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">
                        <i class="iconfont icon-jiaoseguanli" ></i>
                        <span>课程了解</span>
                        <em class="layui-nav-more"></em>
                    </a>

                    <dl class="layui-nav-child">
                        <dd><a href="addteach" target="container">查看课程</a></dd>
                        <dd><a href="student/viewGrade.html" target="container">查看课程成绩</a></dd>
                    </dl>
                </li>


                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">
                        <i class="iconfont icon-jiaoseguanli" ></i>
                        <span>系统设置</span>
                        <em class="layui-nav-more"></em>
                    </a>

                    <dl class="layui-nav-child">
                        <dd><a href="student/sysDescription.html" target="container">系统说明</a></dd>
                        <!--<dd><a href="remind" target="container">作业提醒设置</a></dd>-->
                        <dd><a href="student/background.html" target="container">背景及推送设置</a></dd>
                    </dl>
                </li>

                <!--"隐藏菜单栏"按钮没有反应!!修改-->
                <!--<li class="layui-nav-item layui-slide-menu"><a href="javascript:;">隐藏菜单栏<i id="animation-left-nav1" class="layui-icon ">&#xe668;</i> </a></li>-->
                <!--<i class="fa fa-bars" aria-hidden="true"></i>-->
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <iframe src="index.html" name="container" width="100%" height="100%"></iframe>
        <!--<div class="layui-tab" lay-allowClose="true">-->
            <!--&lt;!&ndash;<ul class="layui-tab-title">&ndash;&gt;-->
                <!--&lt;!&ndash;<li class="layui-this">网站设置</li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li>用户基本管理</li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li>权限分配</li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li>全部历史商品管理文字长一点试试</li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li>订单管理</li>&ndash;&gt;-->
            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--<iframe src="index2.html" name="container" width="100%" height="100%"></iframe>-->
        <!--</div>-->



        <!--<iframe src="index2.html" name="container" width="100%" height="100%"></iframe>-->


    </div>


    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{layui/layui.js}"></script>
<script type="text/javascript" th:src="@{layui/jquery-2.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{layui/modules/jquery.js}"></script>
<!--<script src="layui/main.js"></script>-->
<script>
    //左侧导航栏收缩功能动画效果
    var i=0;
    layui.use(['form','upload','layedit','laydate','table'],function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,table=layui.table
            ,laydate = layui.laydate;
        $('#animation-left-nav1').click(function(){
            //这里定义一个全局变量来方便判断动画收缩的效果,也就是放在最外面
            if(i==0){
                $(".layui-side").animate({width:'toggle'});
                $(".layui-body").animate({left:'0px'});
                $(".layui-footer").animate({left:'0px'});
                i++;
            }else{
                $(".layui-side").animate({width:'toggle'});
                $(".layui-body").animate({left:'200px'});
                $(".layui-footer").animate({left:'200px'});
                i--;
            }
        });
        $('#animation-left-nav').click(function(){
            //这里定义一个全局变量来方便判断动画收缩的效果,也就是放在最外面
            if(i==0){
                $(".layui-side").animate({width:'toggle'});
                $(".layui-body").animate({left:'0px'});
                $(".layui-footer").animate({left:'0px'});
                i++;
            }else{
                $(".layui-side").animate({width:'toggle'});
                $(".layui-body").animate({left:'200px'});
                $(".layui-footer").animate({left:'200px'});
                i--;
            }
        });
        //左侧导航栏收缩提示
        $('#animation-left-nav').hover(function(){
            layer.tips('收缩左侧导航栏', '#animation-left-nav', {tips:[4,'#FF8000'],time:0});
        },function(){
            layer.closeAll('tips');
        });


    });
    function yincang()
    {

    }

    //JavaScript代码区域
    layui.use('element', function(){
        var $ = layui.jquery
            ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块



        //触发事件
        var active = {
            tabAdd: function(){
                //新增一个Tab项
                element.tabAdd('demo', {
                    title: '新选项'+ (Math.random()*1000|0) //用于演示
                    ,content: '内容'+ (Math.random()*1000|0)
                    ,id: new Date().getTime() //实际使用一般是规定好的id，这里以时间戳模拟下
                })
            }
            ,tabDelete: function(othis){
                //删除指定Tab项
                element.tabDelete('demo', '44'); //删除：“商品管理”


                othis.addClass('layui-btn-disabled');
            }
            ,tabChange: function(){
                //切换到指定Tab项
                element.tabChange('demo', '22'); //切换到：用户管理
            }
        };

        $('.site-demo-active').on('click', function(){
            var othis = $(this), type = othis.data('type');
            active[type] ? active[type].call(this, othis) : '';
        });

        //Hash地址的定位
        var layid = location.hash.replace(/^#test=/, '');
        element.tabChange('test', layid);

        element.on('tab(test)', function(elem){
            location.hash = 'test='+ $(this).attr('lay-id');
        });

    });


</script>
</body>
</html>