<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.submit.dao.teacherMapper" >
  <resultMap id="BaseResultMap" type="com.submit.pojo.teacher" >
    <id column="teacherno" property="teacherno" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    teacherno, name, password, level
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from teacher
    where teacherno = #{teacherno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from teacher
    where teacherno = #{teacherno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.submit.pojo.teacher" >
    insert into teacher (teacherno, name, password, 
      level)
    values (#{teacherno,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{level,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.submit.pojo.teacher" >
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="teacherno != null" >
        teacherno,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="level != null" >
        level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="teacherno != null" >
        #{teacherno,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.submit.pojo.teacher" >
    update teacher
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=TINYINT},
      </if>
    </set>
    where teacherno = #{teacherno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.submit.pojo.teacher" >
    update teacher
    set name = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      level = #{level,jdbcType=TINYINT}
    where teacherno = #{teacherno,jdbcType=VARCHAR}
  </update>
</mapper>